* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --fc-gray: hsl(0, 0%, 80%); 
}

body {
  background: linear-gradient(#222222, #121212);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  transition: all 0.5s ease;
}

.page {
  display: flex;
}

#points {
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
  color: white;
}

.sidenav {
  display: flex;
  position: relative; 
  flex-direction: column;
  min-width: 24rem;
  height: 100vh;
  background-color: #000000;

  gap: 1.5rem;
  padding: 1.5rem 2rem 0;
}

.sidenav p {
  align-items: center;
  gap: 1.5rem;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--fc-gray);
}

.sidenav ion-icon {
  font-size: 2.5rem;
  font-weight: bold;
  --ionicon-stroke-width: 5rem;
}

.sidenav p:hover {
  cursor: pointer;
  color: hsl(0, 0%, 100%)
}

.other{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.other p:first-child {
  margin-top: 2rem;
}

.other ion-icon {
  font-size: 1.7rem;
  padding: 4px;
  border-radius: 2px;
  background-color: #969696;
  color: #333333;
}

.other ion-icon[name="heart-sharp"]{
  color: #c0c0c0;
  background: linear-gradient(-45deg, #7e7e7e, #0000FF)
}

.linediv {
  background-color: #464646;
  height: 1px;
}

.playlist{
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  gap: 1.4rem;
}

.playlist p {
  font-size: 1.35rem;
  font-weight: 400;
}

.bestplaylist h1{
  color: white;
  font-size: 2.5rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 0 auto;
}

.container h1 {
  font-size: 2.6rem;
  color: hsl(0, 0%, 100%);
  margin-bottom: 2.2rem;
}

.topbutton {
  display: flex;
  position: absolute;
  top: 0;
  margin-top: 1.5rem;
  left: 0;
  gap: 1rem;
}

.topbutton button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  border: none;
  padding: 8px;
  cursor: pointer;

  background-color: hsla(0, 0%, 0%, 25%);
  font-size: 2.2rem;
  color: hsl(0, 0%, 80%);
}

.topbutton button:nth-child(2) {
  cursor: not-allowed;
}

.topbutton button:nth-child(1) {
  background-color: hsla(0, 0%, 0%, 60%);
  color: white;
}

.profile {
  display: flex;
  align-items: center;
  padding: 2px 10px 1px 2px;
  background-color: hsla(0, 0%, 0%, 60%);
  gap: 9px;
  border-radius: 9999px;
  position: absolute;
  right: 0;
  margin-top: 1.5rem;
}

.profile img {
  display: flex;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50px;
}

.profile p {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
}

.profile ion-icon {
  color: white;
  font-size: 1.4rem;
}

.profile:hover {
  background-color: hsl(0, 0%, 23%);
  cursor: pointer;
}

.display-card {
  padding-top: 20rem;
  margin: 0;
}

.card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: auto;
}

.card {
  display: flex;
  width: 53rem;
  gap: 1.5rem;

  background-color: hsla(0, 0%, 45%, 15%);
  border-radius: 5px;

  overflow: hidden;
  transition: 400ms;
}

.card:hover {
  cursor: pointer;
  background-color: #414141;
}

.card img{
  width: 9rem;
  overflow: hidden;
}

.card p {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
}

.madeforyou {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.madeforyou h1 {
  display: flex;
  flex-direction: column;
  font-size: 2.6rem;
  color: hsl(0, 0%, 100%);
}

.fy-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  gap: 2.2rem;
}

.fy-card {
  padding: 1.5rem 1.5rem 3rem;
  border-radius: 5px;
  background-color: #111111;

  transition: all 400ms;
}

.fy-card:hover {
  cursor: pointer;
  background-color: #1d1d1d;
}

.fy-card p {
  margin: 1.5rem 0 1rem;
  color: white;
  font-weight: 600;
  font-size: 1.4rem;
}

.fy-card span {
  display: flex;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--fc-gray);
}

.fy-card img {
  border-radius: 5px;
  width: 14rem;
}

.playcard {
  padding: 1rem;
  background-color: #1ED760;
  border-radius: 50%;
  font-size: 2.5rem;
  text-align: center;
  margin: auto;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
  transition: all 200ms;
}

footer {
  display: flex;
  position: fixed;
  z-index: 5;
  
  bottom: 0;
  width: 100%;
  height: 10rem;
  
  background-color: #181818;
  border-top: 1px solid #272727;
  padding: 1.8rem;
  align-items: center;
}

.playingmusic {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 1.5rem;
}

.playingmusic img {
  width: 6.5rem;
}

.playingmusic p {
  display: flex;
  flex-direction: column;
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  gap: 6px;
}

.playingmusic p span {
  font-size: 1rem;
  font-weight: 500;
  color: var(--fc-gray);
}

.playingmusic ion-icon {
  font-size: 2rem;
  padding-left: 8px;
  text-align: center;
  color: #1ED760;
  cursor: pointer;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  gap: 1.2rem;
}

.timeline-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-direction: row;
}

.timeline-buttons a{
  display: flex;
  justify-content: center;
  font-size: 2.1rem;
  text-align: center;
  color: var(--fc-gray);

  transition: all 200ms;
}

.timeline-buttons .pause{
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 6px;
  font-size: 2.1rem;

  border-radius: 999px;
  border: 0;
  color: black;
  background-color: white;
  cursor: pointer;

  transition: transform 60ms;
}

.timeline-buttons .pause:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;

}

.timeline-buttons a:hover {
  color: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;

}

.music-timeline {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 50rem;
  height: 4px;
  border-radius: 50px;
  background-color: #5E5E5E;
  margin: 0 1rem;
}

.music-timeline::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 4px;
  z-index: 1;

  border-radius: 50px;
  background-color: white;
}

.music-time {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.music-time span {
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  color: var(--fc-gray);
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  padding-right: 18px;
}

.left-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  color: var(--fc-gray);
  --ionicon-stroke-width: 3.5rem;
  gap: 1.3rem;
}

.left-icons a {
  display: flex;
  color: var(--fc-gray);
  transition: all 200ms;
}

.left-icons a:hover {
  color: white;
}

.volume-bar {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  width: 8rem;
  height: 3px;
  border-radius: 50px;
  background-color: #5E5E5E;
  margin-left: 1rem;
}

.volume-bar::before {
  content: '';
  position: absolute;
  width: 80%;
  height: 4px;
  z-index: 1;
  border-radius: 50px;
  background-color: white;
}